@import'variables';
@import 'library';
@import 'arrow';
@import 'schedule';
@import 'scheduleCourse';
@import 'progressTracker';

.home {
    height: 100vh;
    width: 100vw;
  

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
 

.schedule {
    grid-column: schedule-s/schedule-e;
    background: crimson;
}
$color-purple: #6F48CE;
$color-light-blue: #32CBE8;

.gradient{
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg,$color-purple 0%,$color-light-blue 100%);
    z-index: -10;
}